#game{
background: black;
}

#blueButton{background:blue;}
#redButton{background: red;}
#greenButton{background: green;}
#yellowButton{background: yellow;}
#blackButton{background: black;}
#whiteButton{background:white;}