#game{
background: black;
}

#blueButton{background:blue;}
#redButton{background: red;}
#greenButton{background: green;}
#yellowButton{background: yellow;}
#blackButton{background: black;}
#whiteButton{background:white;}
#homeScreen{position: fixed;
                inset: 0;
                background: #1e1e1e;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                z-index: 10;        }