#game{
background: black;
}

#blueButton{background:blue;}
#redButton{background: red;}
#greenButton{background: green;}
#yellowButton{background: yellow;}
#blackButton{background: black;}
#whiteButton{background:white;}
#homeScreen{position: fixed;
                inset: 0;
                background: #1e1e1e;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                z-index: 10;        }

#chatbox{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index:100;
    display: flex;
    flex-direction:column;
    gap:6px;
}
#chats {
    max-height: 200px;
    overflow-y: auto;          /* scroll when it fills up */
    background: rgba(0,0,0,0.2); /* semi-transparent dark */
    color: white;
    padding: 8px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 13px;
}
#chatinput {
    padding: 6px;
    border-radius: 6px;
    border: none;
    font-family: monospace;
}